* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'PT Sans', sans-serif;
	background-color: rgb(235, 242, 243);
}

.weatherApp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: 80vh;
	box-shadow: -2px 3px 40px 0px rgba(0, 168, 206, 1);
}
.cityName {
    padding: 10px;
}

.topPart {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	width: 30vw;
	height: 30vh;

}
input {
	width: 80%;
    font-size: 25px;
}
.weatherImg {
    width: 100px;
    height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	height: 120px;
	width: 120px;
}



.bottomPart {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 30vw;
	height: 30vh;
}
p {
	display: block;
	margin: 30px;
}
.results {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	line-height: 40px;
}
.results div {
	width: 100%;
}
.weatherResult {
	height: 50px;
	width: 50px;

}
